.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
  top: 5vh;
  position: absolute;
}

@font-face{
  font-family: BebasTitles;
  src: url("BebasNeue-Regular.woff")
}

.App-header {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header div {
  font-size: 2vh;
}

.App-body {
  color: #282c34;
  background-color: #ffffff;
  font-family: BebasTitles;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  z-index: -1;
}


.App-body img {
  max-height: 10vh;
}

.title {
  top: 15vh;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
