.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
  top: 5vh;
  position: absolute;
}

@font-face{
  font-family: BebasTitles;
  src: url("BebasNeue-Regular.woff")
}

.App-header {
  background-color: #282c34;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a {
  color: white;
}

.App-header div {
  font-size: 2vh;
}

.App-body {
  color: #282c34;
  background-color: #ffffff;
  font-family: BebasTitles;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  z-index: -1;
}


.App-body img {
  height: 15vh;
  width: auto;
}

.title {
  top: 15vh;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.table-row {
  display: flex;           display: -webkit-flex;
  flex-direction: row;     -webkit-flex-direction: row;
  flex-grow: 0;            -webkit-flex-grow: 0;         
  width: 95%;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  justify-content: center;
}

.table-row img {
  width: 95%;
  height: auto;
  align-items: center;
}

 
 .shoe {
   flex-grow: 1;            
   -webkit-flex-grow: 1;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
 }
/*
 .shoe .FrontSide,
 .shoe .BackSide {
   background: #66CC99;
   font-size: 16px;
   text-transform: uppercase;
   color: #fff;
   -webkit-transition: background 350ms ease;
   -moz-transition: background 350ms ease;
   -o-transition: background 350ms ease;
   transition: background 350ms ease;
 }
 

 .FrontSide {
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  -o-transform: translateZ(100px);
  -ms-transform: translateZ(100px);
  transform: translateZ(100px);
}
.shoe:hover .FrontSide {
  background: #27AE60;
}


.shoe .BackSide {
  background: #27AE60;
}

.flipTop .BackSide {
  -webkit-transform: rotateX(90deg) translateZ(250px);
  -moz-transform: rotateX(90deg) translateZ(250px);
  -o-transform: rotateX(90deg) translateZ(250px);
  -ms-transform: rotateX(90deg) translateZ(250px);
  transform: rotateX(90deg) translateZ(250px);
}
.shoe.flipTop:hover {
  -webkit-transform: rotateX(-89deg);
  -moz-transform: rotateX(-89deg);
  -o-transform: rotateX(-89deg);
  -ms-transform: rotateX(-89deg);
  transform: rotateX(-89deg);
}
*/